:root{
  --bg-dark:#0b0b0b;
  --red;#d20a0a;
  --red-hover:#b00808;
  --white#ffff;
  --gray:#d7d7d7;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background:var(--bg-dark);
  font-family:Arial, Helvetica, Sans-Serif;
  color: white;
}

/*=========================
HEADER
=========================*/

.main-header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(0,0,0,.45);
  z-index: 1000;
}

.logo{
  color: var(--red);
  font-size: 40px;
}
.nav-menu{
  display: flex;
  gap: 30px;
}
.nav-menu a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 3s;
}
.nav-menu a:hover{
  color: var(--red);
}

/*=========================
BANNER
=========================*/

.hero{
  height:100vh;
  background-image:url("assets/banner.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
}

/*=========================
CAIXA PRETA TRANSPARETE
=========================*/

.overlay{
  background:rgba(0,0,0,.60);
  padding:50px;
  width:700px;
  border-radius:18px;
  text-align:center;

  backdrop-filter:blur(3px);
}

/*=========================
TÍTULO
=========================*/

.overlay h2{
  font-size:72px;
  margin-bottom:25px;
}

/*=========================
TEXTO
=========================*/

.overlay p{
  color:var(--gray);
  font-size:22px;
  line-height:1.6;
  margin-bottom:35px;
}

/*=========================
BOTÃO DO MEIO
=========================*/

.btn{
  display:inline-block;
  text-decoration:none;
  background:var(--red);
  color:white;
  padding:18px 40px;
  border-radius:10px;
  font-size:20px;
  font-weight:bold;
  transition:.3s;
}

.btn:hover{
  background:var(--red-hover);
  transform:scale(1.05);
}

/*=========================
RESPONSIVO
=========================*/

@media(max-width:1000px){
  
    .main-header{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }
    
    .nav-menu{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .overlay{
        width:90%;
        padding:35px;
    }

    .overlay h2{
        font-size:42px;
    }

    .overlay p{
        font-size:18px;
    }
    
}

@media(max-width:600px){
  
    .logo{
        font-size:30px;
    }

    .nav-menu{
        flex-direction:column;
        align-items:center;
    }

    .overlay h2{
        font-size:34px;
    }

    .overlay p{
        font-size:16px;
    }

    .btn{
        padding:15px 30px;
        font-size:18px;
    }

}
